<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial- scale= 1.0" />
    <meta http-quiv="X-UA-Compatible" content="ie=edge" />
    <title>Keep Calm and Carry On</title>
    <style type="text/css">
        body {
          background-color: black;
          margin: 0;
        }
        div
      {
          border: 2px solid white;
          width: 80%;
          color: white;
          text-align: center;
          margin: 2% auto;
          padding: 5% 2%;
        }
      img
      {
        display: block;
               width:50%;
               margin:0 auto;
      }

      </div>
    </style>
  </head>

  <body style=" ">
    <div style="">
      <img
        src="https://cdn.glitch.com/10e983a4-95f3-476b-b2f5-9b4dba49fff5%2Fcrown%20(2).png?v=1582673053716"
        alt="crown"
        style=" "
      />
      <p
        style=" 
              font-size: 8em;
               text-transform: uppercase;
               margin: 0;
               padding: 0;
               word-break: break-word;
                "
      >
        Keep Calm
        <span
          style="display: block;
              font-size: .5em;"
        >
          and </span
        >Carry on
      </p>
    </div>
  </body>
</html>
